
<p>Listing projects</p>



<div class="row">

		<ul class="project_list">
			<% @projects.each do |pp| %>
				<%= render 'project', project: pp %>
			<% end %>
		</ul>
</div>

<%= paginate @projects %>
